{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="icon" type="image/ico" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmvyTrQDC5IL9uwL9isiMI1JW-o7PH-7rL18BH9lKs7P4dl1pkrA&s">
	<title>Table</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/Form.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>



	<div class="block1">
		<div class="header1">
              <span class="font4">USER-DOSE</span>
        </div>
        <form action="/api/v1/users/user_list_in_csv/" class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl ">
        <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td scope="row"><input type="checkbox" value="{{user.username}}"  name="username"></td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td><a href="/api/v1/users/user_list_in_csv/?username={{user.username}}">Export</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

<button class="btn btn-block btn-primary"> Export Selected</button>
	</form>
	</div>



</body>
</html>
